@font-face {
	font-family: 'Outfit-VariableFont';
	font-display: swap;
	src: url("../fonts/Outfit-VariableFont.woff2");
	font-style:normal;
	 font-weight:400;
}
@font-face {
	font-family: 'Raleway-VariableFont';
	font-display: swap;
	src: url("../fonts/Raleway-VariableFont.woff2");
	font-style:normal;
	 font-weight:400;
}